<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="descriprion" content="家具屋｜">
    <title>家具屋　</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <section class="header-container">
            <!--  float  -->
            <h1 class="logo-header">
                <img src="image/logo_header.png" srcset="image/logo_header.png 1x,
                                                         image/logo_header@2x.png 2x" alt="logomark-h">
            </h1>
            <ul class="header-nav">
                <!--  float  -->
                <li>HOME</li>
                <li><a href="news/index.html">NEWS</a></li>
                <li><a href="recruite/index.html">RECRUIT</a></li>
                <li><a href="contact/index.html">CONTACT</a></li>
            </ul>
        </section>
    </header>
    <main>
        <section class="keyvisual">
            <!--  background-image  -->
            <h2></h2>
        </section>
        <div class="main-container">

        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="f-maincontainer">
                <!--  float  -->
                <div class="logo-footer">
                    <img src="image/logo_footer.png" srcset="image/logo_footer.png 1x,
                                                             image/logo_footer@2x.png 2x" alt="logomark-f">
                </div>
                <ul class="footer-nav">
                    <!--  float  -->
                    <li>HOME</li>
                    <li><a href="news/index.html">NEWS</a></li>
                    <li><a href="recruite/index.html">RECRUIT</a></li>
                    <li><a href="contact/index.html">CONTACT</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <small>©HTMLCSS.code</small>
        </div>
    </footer>
</body>

</html>